{{define "inicio"}}
{{template "cabecera"}}
      <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar</a>
      <br/> <br/>
      <table class ="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{range.}}
            <tr>
                <td> {{.Nombre}}</td>
                <td> {{.Cantidad}}</td>
                <td>{{.Costo}} </td>                
                <td>
                <a name="" id="" class="btn btn-warning" href="/editar?id={{.Id}}" role="button">Editar</a>
                 |                 
                <a name="" id="" class="btn btn-danger" href="/borrar?id={{.Id}}" role="button">Borrar</a>
                </td>
            </tr>
            {{end}}
        </tbody>
      </table>
      <a name="" id="" class="btn btn-primary" href="/comprar" role="button">Comprar</a>
{{template "pie"}}
{{end}}